:root{
    --main-color: #3E5428;
    --darkest-color:#4A5441;
    --medium-color:#76A14C;
    --light-bg: #C2DBA9;
    --bright-color:#9BD463;
    --font-color: #fff;
    --border-dark: #262b21;
    
    font-family: 'Quicksand', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 200,
  'opsz' 40;
}

.newBookBtn,
.cancel,
.add,
.btnRemove,
input[type="checkbox"]{
    cursor: pointer;
}

.cancel{
    background-color: var(--main-color);
}

.btnRemove{
    background-color: var(--medium-color);
}

.cancel,
.btnRemove{
    color: var(--font-color);
    align-self: flex-end;
    border: none;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 50px;
    color: var(--font-color);
}

header{
    font-size: 25px;
    background-color: var(--main-color);
    text-align: center;
    padding: 50px;
}

.container{
    background-color: var(--light-bg);
    padding: 20px;
}

.newBookBtn{
    background-color: var(--darkest-color);
    padding: 7px 20px;
    font-size: 50px;
    font-weight: 800;
    border-radius: 40px;
    color: var(--font-color);
    border: 1px solid var(--darkest-color);
    box-shadow: 3px 4px 5px 0px var(--darkest-color);
    
}

.newBookBtn:active{
    box-shadow: inset 3px 4px 5px 0px rgb(46, 44, 44);
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

#empty{
    padding-top: 50px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: black;
}

.book-grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 30px;
    justify-content: center;
}

.bookCard{
    background-color: var(--medium-color);
    border-radius: 10px;
    min-height: 150px;
    box-shadow: 3px 4px 5px 0px var(--main-color);
    border-left: 7px solid var(--main-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formPopup{
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    border: var(--darkest-color) solid 1px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 350px;
    padding: 15px;
    font-size: 20px;
    min-width: 300px;
    gap: 15px;
}

form label{
    align-self: flex-start;
    padding-left: 35px;
}

.checkboxBox{
    display: flex;
    gap: 10px;
}

label[for=read]{
    font-weight: 600;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.1em);
    display: grid;
    place-content: center;
  }

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--darkest-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

form input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.add{
    padding: 8px;
    background-color: var(--medium-color);
    border: var(--medium-color);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--font-color);
    align-self: stretch;
}

footer{
    background-color: var(--darkest-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}